* {
    box-sizing: border-box;
}

img {
    -webkit-user-select: none;  /* Safari */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Standard syntax */
    -webkit-user-drag: none;    /* Safari */
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 4000px;
    margin: 0 auto; /* centers the body if the screen is wider than max-width */
    /*padding: calc(20 * var(--pixel));*/
    width: 100%;
}

.aboutBox {
    image-rendering: pixelated;
    width: calc(359 * var(--pixel));
    height: calc(150 * var(--pixel));
    background-image: url("../images/mainBody/board.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: calc(40 * var(--pixel));
    margin-bottom: calc(60 * var(--pixel));
    margin-left: calc(30 * var(--pixel));


}
/*aminisofia*/
.aboutBox > img:first-child {
    width: calc(135* var(--pixel));
    height: calc(21* var(--pixel));
    position: absolute;
    margin-left: calc(110 * var(--pixel));
    margin-top: calc(-18* var(--pixel));
}
/*lights*/
.aboutBox > img:nth-child(2) {
    width: calc(351* var(--pixel));
    height: calc(16 * var(--pixel));
    margin-left: calc(5* var(--pixel));
    margin-top: calc(5 * var(--pixel));
}
/*txt*/
.aboutBox > img:nth-child(3) {
    width: calc(136* var(--pixel));
    height: calc(94 * var(--pixel));
    margin-left: calc(25 * var(--pixel));
    margin-top: calc(5* var(--pixel));
}
/*me*/
.aboutBox > img:nth-child(4) {
    width: calc(74* var(--pixel));
    height: calc(89 * var(--pixel));
    margin-left: calc(80* var(--pixel));
    margin-bottom: calc(2 * var(--pixel));
}

