.aminisofia {
    position: relative;
    width: 400px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: -50px;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}

.image {
    position: absolute;
    top: 0;
    left: 20px;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

.image1 {
    /*filter: hue-rotate(180deg);*/
    z-index: 1;
}

.image2 {
    z-index: 2;
}

.image-overlay {
    position: absolute;
    left: 20px;
    width: 100%;
    height: 100%;

    background-color: rgb(118, 121, 219);
    mix-blend-mode: multiply;

    pointer-events: none;
    z-index: 1;

    mask-image: url('images/aminisofia.png');
    mask-size: 400px 150px;
    mask-position: center;
    image-rendering: pixelated;

}
