
.stickers{
    position:relative;
}

.stickers > img{
    image-rendering: pixelated;
    position: absolute;
}

/*grog sticker*/
.stickers > img:nth-child(1) {
    width: calc(49 * var(--pixel));
    height: calc(41 * var(--pixel));
    top: calc(-18 * var(--pixel));
    left: calc(40 * var(--pixel));
}

/*left side-eye*/
.stickers > img:nth-child(10) {
    width: calc(49 * var(--pixel));
    height: calc(41 * var(--pixel));
    top: calc(-18 * var(--pixel));
    left: calc(40 * var(--pixel));
}

/*right side-eye*/
.stickers > img:nth-child(11) {
    width: calc(49 * var(--pixel));
    height: calc(41 * var(--pixel));
    top: calc(-18 * var(--pixel));
    left: calc(40 * var(--pixel));
}

/*blue jumino*/
.stickers > img:nth-child(2) {
     width: calc(16 * var(--pixel));
    height: calc(15 * var(--pixel));
    top: calc(5 * var(--pixel));
    left: calc(125 * var(--pixel));
    transition: all 0.5s ease-out;
}

/*red jumino*/
.stickers > img:nth-child(3) {
    width: calc(14 * var(--pixel));
    height: calc(15 * var(--pixel));
    top: calc(5 * var(--pixel));
    left: calc(146 * var(--pixel));
    transition: all 0.5s ease-out;
}

/*purple jumino*/
.stickers > img:nth-child(4) {
    width: calc(16 * var(--pixel));
    height: calc(15 * var(--pixel));
    top: calc(5 * var(--pixel));
    left: calc(165 * var(--pixel));
    transition: all 0.5s ease-out;
}

/*m*/
.stickers > img:nth-child(5) {
    width: calc(7 * var(--pixel));
    height: calc(10 * var(--pixel));
    top: calc(-10 * var(--pixel));
    left: calc(129 * var(--pixel));
    transition: all 0.5s ease-out;
}

/*o*/
.stickers > img:nth-child(6) {
    width: calc(6 * var(--pixel));
    height: calc(10 * var(--pixel));
    top: calc(-10 * var(--pixel));
    left: calc(150 * var(--pixel));
    transition: all 0.5s ease-out;
}

/*w*/
.stickers > img:nth-child(7) {
    width: calc(7 * var(--pixel));
    height: calc(10 * var(--pixel));
    top: calc(-10 * var(--pixel));
    left: calc(169 * var(--pixel));
    transition: all 0.5s ease-out;
}

/*blue frog*/
.stickers > img:nth-child(8) {
    width: calc(13 * var(--pixel));
    height: calc(12 * var(--pixel));
    top: calc(-12 * var(--pixel));
    left: calc(325 * var(--pixel));
    transition: all 0.5s ease-out;
    z-index: 1;
}

/*purple frog*/
.stickers > img:nth-child(9) {
    width: calc(13 * var(--pixel));
    height: calc(12 * var(--pixel));
    top: calc(-12 * var(--pixel));
    left: calc(300 * var(--pixel));
    transition: all 0.5s ease-out;
    z-index: 1;
}
