body {
    background-color: #ffe5ea;
}

.about {
    display: flex;
    width: 100%;
    justify-content: center;
}

.aboutBox {
    image-rendering: pixelated;
    width: 33vw;
    aspect-ratio: 272/116;
    background-image: url("images/aboutMe.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 5vw;
}

.aboutBox > img:first-child {
    width: 8vw;
    position: absolute;
    right: 3vw;
    top: 3vw;
    border-radius: 10px;
    border: #9babb2 solid;
}

.aboutBox > img:last-child {
    width: 13vw;
    position: absolute;
    top: -.3vw;
    left: 2vw;

}